* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: medium;
    font-weight: normal;
    font-family: 'Segoe UI'; 
    text-align: center;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#contenedor {
    width: 1485px;
    height: 400px;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    justify-content: center;
    
}
header{
    width: 1390px;
    height: 80px;
    background: #166FF5;
    float: right;
    border: 0.2px solid;
    border-color: #707070;
}
header h1{    
    line-height: 77px;
}
img{
    width: 85px;
    height: 80px;
    margin-right: 10px;
    border: 0.2px solid;
    border-color: #707070;
}
#nav1{
    background-color: #5E5E60;
    width: 1210px;
    height: 50px;
    margin-top: 20px;
    float: left; 
    border: 0.2px solid;
    border-color: #707070;
}
#nav1 h2{
    line-height: 45px;
}

#nav2{
    background-color: #8A8787;
    width: 268px;
    height: 50px;
    margin-top: 20px;
    float: right; 
    border: 0.2px solid;
    border-color: #707070;
} 
#nav2 h2{
    line-height: 45px;
}
#contenido{
    background-color: #F2DAA1;
    width: 1210px;
    height: 420px;
    margin-top: 20px;
    float: left;
    border: 0.2px solid;
    border-color: #707070;
}
#busquedas{
    background-color: #C8F8BA;
    width: 268px;
    height: 50px;
    margin-top: 20px;
    float: right; 
    border: 0.2px solid;
    border-color: #707070;
}
#busquedas h2{
    line-height: 45px;
}
#noticias{
    background-color: #F6CFCF;
    width: 268px;
    height: 150px;
    margin-top: 20px;
    float: right; 
    border: 0.2px solid;
    border-color: #707070;
}
#noticias h2{
    line-height: 140px;
}
#eventos{
    background-color: #F8B8F4;
    width: 268px;
    height: 180px;
    margin-top: 20px;
    float: right; 
    border: 0.2px solid;
    border-color: #707070;
}
#eventos h2{
    line-height: 170px;
}

footer{
    background-color: #BFE8FB;
    width: 1485px;
    height: 65px;
    margin-top: 20px;
    float: left; 
    border: 0.2px solid;
    border-color: #707070;
}
footer h2{
    line-height: 60px;
}
